<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<title>Yet Another To-Do List</title>
<script src="index.js" type="module"></script>

</head>
<body>
	<div id="app">
		<ma-data v-model="tasks" src="local:tasks"></ma-data>

		<h1>TODO List</h1>
		<h2>{{count(get(tasks, "done"))}} done of {{tasks.length}} total</h2>
		
		<ul >
			<li v-for="(task, i) of tasks">
				<input v-model="task.done" type="checkbox">
				<input v-model="task.title" type="text">
				<button @click="deleteItem(i)">X</button>
			</li>
		</ul>

		<button @click="addItem()">Add item</button>
		<button @click="clearCompleted()">Clear completed</button>
	</div>
</body>
</html>